section, header, article, nav {
    display: block;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 16px 10%;
    background-image: url(../images/background.gif);
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat-x;
    max-width: 1280px;
}

header {
    background-image: url(../images/guitarist.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-width: 1.6px;
    border-style: solid;
    border-bottom-width: 0;
}

header nav {
    background-image: url(../images/navbar.gif);
    background-position: bottom left;
    background-repeat: repeat-x;
    border-width: 1.6px;
    border-style: solid;
    border-bottom-width: 0;
    border-top-width: 0;
    padding-left: 10%;
}

header nav ul {
    width: 100%;
    overflow: hidden;
    border-left-width: 1.6px;
    border-left-style: solid;
}

header nav li {
    display: inline;
}

header nav li a {
    display: block;
    float: left;
    padding: 8px 32px;
    border-right: 1.6px solid;
}

article {
    border-width: 1.6px;
    border-style: solid;
    border-top-width: 1.6px;
    padding: 32px 10%;
    line-height: 28.8px;
}

article img {
    border-width: 1.6px;
    border-style: solid;
    outline-width: 1.6px;
    outline-style: solid;
}

#about header {
    background-image: url(../images/lineup.gif);
}

#photos header {
    background-image: url(../images/basshead.gif);
}

#live header {
    background-image: url(../images/bassist.gif);
}

#contact header {
    background-image: url(../images/drummer.gif);
}

#slideshow {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

#preview {
    position: absolute;
    border-width: 0;
    outline-width: 0;
}

#frame {
    position: absolute;
    border-width: 0;
    outline-width: 0;
    top: 0;
    left: 0;
    z-index: 99;
}

#imagegallery li {
    display: inline;
}

td {
    padding: 8px 48px;
}

th {
    color: #edc;
    background-color: #455;
}

tr {
    color: #223;
    background-color: #eb6;
}